# Pandas Exercise Session 3

In [6]:
import pandas as pd
import numpy as np

### Summary Functions

In [4]:
df = pd.read_csv("data/winequality-white.csv", delimiter=";")

In [8]:
df.shape

(4898, 12)

In [5]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [12]:
df.describe().round(3).drop("count")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
mean,6.855,0.278,0.334,6.391,0.046,35.308,138.361,0.994,3.188,0.490,10.514,5.878
std,0.844,0.101,0.121,5.072,0.022,17.007,42.498,0.003,0.151,0.114,1.231,0.886
min,3.800,0.080,0.000,0.600,0.009,2.000,9.000,0.987,2.720,0.220,8.000,3.000
25%,6.300,0.210,0.270,1.700,0.036,23.000,108.000,0.992,3.090,0.410,9.500,5.000
50%,6.800,0.260,0.320,5.200,0.043,34.000,134.000,0.994,3.180,0.470,10.400,6.000
75%,7.300,0.320,0.390,9.900,0.050,46.000,167.000,0.996,3.280,0.550,11.400,6.000
max,14.200,1.100,1.660,65.800,0.346,289.000,440.000,1.039,3.820,1.080,14.200,9.000

In [14]:
df["residual sugar"].mean().round(3)

np.float64(6.391)

In [16]:
df["alcohol"].mean().round(2)

np.float64(10.51)

In [17]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [20]:
df["density"].value_counts()

density
0.992000    64
0.992800    61
0.993200    53
0.993000    52
0.993400    50
            ..
0.998450     1
0.998365     1
0.989410     1
0.997880     1
0.994330     1
Name: count, Length: 890, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [23]:
df.dtypes.unique()

array([dtype('float64'), dtype('int64')], dtype=object)

In [25]:
df.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

### Applying Functions

In [29]:
quality_mean = df["quality"].mean()

df["quality"].map(lambda value: value - quality_mean)

0       0.122091
1       0.122091
2       0.122091
3       0.122091
4       0.122091
          ...
4893    0.122091
4894   -0.877909
4895    0.122091
4896    1.122091
4897    0.122091
Name: quality, Length: 4898, dtype: float64

In [38]:
def change_to_percentage(value):
    return f"%{value * 100: .2f}"

In [39]:
df["chlorides"].apply(change_to_percentage)

0       % 4.50
1       % 4.90
2       % 5.00
3       % 5.80
4       % 5.80
         ...
4893    % 3.90
4894    % 4.70
4895    % 4.10
4896    % 2.20
4897    % 2.00
Name: chlorides, Length: 4898, dtype: object

In [43]:
np.clip(df["total sulfur dioxide"] - 100, 0, 75)

0       70.0
1       32.0
2        0.0
3       75.0
4       75.0
        ...
4893     0.0
4894    68.0
4895    11.0
4896    10.0
4897     0.0
Name: total sulfur dioxide, Length: 4898, dtype: float64

### Exercise

In [45]:
df = pd.read_csv("data/winequality-red.csv", delimiter=";")
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [47]:
# 1
df["quality"].median()

6.0

In [49]:
# 2
ph_range = df["pH"].max() - df["pH"].mean()
print(f"pH range: {ph_range:.3f}")

pH range: 0.699

In [50]:
# 3
df["quality"].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [51]:
df["quality"].mode()

0    5
Name: quality, dtype: int64

In [52]:
# 4
df["volatile acidity"] - df["volatile acidity"].mean()

0       0.172179
1       0.352179
2       0.232179
3      -0.247821
4       0.172179
          ...
1594    0.072179
1595    0.022179
1596   -0.017821
1597    0.117179
1598   -0.217821
Name: volatile acidity, Length: 1599, dtype: float64

In [ ]:
# 5
chlorides_mean = df["chlorides"].mean()
df.loc[df["chlorides"] > chlorides_mean, "chlorides"]

1       0.098
2       0.092
10      0.097
12      0.089
13      0.114
        ...
1558    0.235
1570    0.230
1578    0.118
1591    0.089
1594    0.090
Name: chlorides, Length: 474, dtype: float64

In [58]:
# 6
sulfur_dioxide_mean = df["free sulfur dioxide"].mean()
df["free sulfur dioxide"] > sulfur_dioxide_mean

0       False
1        True
2       False
3        True
4       False
        ...
1594     True
1595     True
1596     True
1597     True
1598     True
Name: free sulfur dioxide, Length: 1599, dtype: bool

In [59]:
(df["free sulfur dioxide"] > sulfur_dioxide_mean).sum()

np.int64(675)

In [60]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [62]:
# 7
df["quality"].unique()

array([5, 6, 7, 4, 8, 3])

In [65]:
df["stars"] = pd.cut(
    df["quality"], bins=[0, 4, 6, 8], labels=["One Star", "Two Stars", "Three Stars"]
)

In [70]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,stars
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Two Stars
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,Two Stars
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,Two Stars
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,Two Stars
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,Two Stars

In [68]:
df["stars"].value_counts()

stars
Two Stars      1319
Three Stars     217
One Star         63
Name: count, dtype: int64

In [69]:
df["stars"].mode()

0    Two Stars
Name: stars, dtype: category
Categories (3, object): ['One Star' < 'Two Stars' < 'Three Stars']

In [72]:
df.sample(n=10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,stars
1403,7.2,0.33,0.33,1.7,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8,Three Stars
643,9.5,0.59,0.44,2.3,0.071,21.0,68.0,0.99920,3.46,0.63,9.5,5,Two Stars
478,9.6,0.68,0.24,2.2,0.087,5.0,28.0,0.99880,3.14,0.60,10.2,5,Two Stars
958,6.4,0.57,0.12,2.3,0.120,25.0,36.0,0.99519,3.47,0.71,11.3,7,Three Stars
1066,6.6,0.52,0.08,2.4,0.070,13.0,26.0,0.99358,3.40,0.72,12.5,7,Three Stars
1473,6.1,0.60,0.08,1.8,0.071,14.0,45.0,0.99336,3.38,0.54,11.0,5,Two Stars
1242,9.0,0.40,0.41,2.0,0.058,15.0,40.0,0.99414,3.22,0.60,12.2,6,Two Stars
1124,6.5,0.58,0.00,2.2,0.096,3.0,13.0,0.99557,3.62,0.62,11.5,4,One Star
535,9.1,0.22,0.24,2.1,0.078,1.0,28.0,0.99900,3.41,0.87,10.3,6,Two Stars
410,9.0,0.43,0.34,2.5,0.080,26.0,86.0,0.99870,3.38,0.62,9.5,6,Two Stars