# Coding Practice Session 1
## Introduction to Pandas

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.3

### Pandas Series

In [3]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s[0]

np.int64(1)

In [6]:
print(s[1])

2

In [7]:
s = pd.Series(["Arad", "Sarah", "John", "Lora"])

In [8]:
s

0     Arad
1    Sarah
2     John
3     Lora
dtype: object

In [9]:
s[0]

'Arad'

In [12]:
print(s[3])

Lora

### Pandas DataFrame

In [14]:
data = {
    "Name": ["Arad", "Sarah", "Alice", "Bob"],
    "Age": [23, 25, 26, 22],
    "City": ["Leuven", "New York City", "London", "Madrid"],
}

df = pd.DataFrame(data)
df

    Name  Age           City
0   Arad   23         Leuven
1  Sarah   25  New York City
2  Alice   26         London
3    Bob   22         Madrid

In [15]:
df["City"]

0           Leuven
1    New York City
2           London
3           Madrid
Name: City, dtype: object

In [17]:
df.iloc[2] # accessing DataFrame row by integer index

Name     Alice
Age         26
City    London
Name: 2, dtype: object

In [20]:
df.loc[3] # same as df.iloc

Name       Bob
Age         22
City    Madrid
Name: 3, dtype: object

### Pandas Data Types

In [22]:
print(df["Name"].dtype)

object

In [23]:
df["Name"].dtype

dtype('O')

In [24]:
df["Age"].dtype

dtype('int64')

In [25]:
s

0     Arad
1    Sarah
2     John
3     Lora
dtype: object

In [26]:
s.dtype

dtype('O')