# Coding Practice Session 2
## Pandas Series

In [2]:
import pandas as pd
import numpy as np

### Creating a Series

In [3]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data = np.array([1, 2, 3, 4, 5])
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s = pd.Series(
    {
        "a": 1,
        "b": 2,
        "c": 3,
        "d": 4,
    }
)

In [6]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
data = np.array([1, 10, 20, 30])
index = ["A1", "B1", "C1", "D1"]

pd.Series(data, index=index)

A1     1
B1    10
C1    20
D1    30
dtype: int64

In [19]:
series = pd.Series(data=[1, 2, 3, 4], index=["A", "B", "C", "D"], dtype="f4", name="Dummy")

In [18]:
series

A    1.0
B    2.0
C    3.0
D    4.0
Name: Dummy, dtype: float32

In [20]:
pd.Series([1, 2.5, "A", 4, 5.85])

0       1
1     2.5
2       A
3       4
4    5.85
dtype: object

In [97]:
calories = {"Day1": 420, "Day2": 450, "Day3": 390}

s = pd.Series(calories, name="Calories", dtype="i4")
s

Day1    420
Day2    450
Day3    390
Name: Calories, dtype: int32

In [98]:
s.index.dtype

dtype('O')

In [99]:
s.index

Index(['Day1', 'Day2', 'Day3'], dtype='object')

### Series Attributes

In [21]:
s = pd.Series([1, 2, 3, 4, 5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
s.dtype

dtype('int64')

In [23]:
s.dtype == np.int64

True

In [29]:
type(s.dtype)

numpy.dtypes.Int64DType

In [24]:
s.shape

(5,)

In [25]:
s.size

5

In [26]:
data = [_ for _ in range(1, 6)]
index = ("A1", "B1", "C1", "D1", "E1")
s = pd.Series(data, index=index)
s

A1    1
B1    2
C1    3
D1    4
E1    5
dtype: int64

In [27]:
s.index

Index(['A1', 'B1', 'C1', 'D1', 'E1'], dtype='object')

In [28]:
type(s.index)

pandas.core.indexes.base.Index

In [30]:
s.values

array([1, 2, 3, 4, 5])

In [31]:
type(s.values)

numpy.ndarray

### Vectorized Operations and Label Alignment

In [32]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
# Arithmetic operations
s + 10

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [35]:
s * 3

0     3
1     6
2     9
3    12
4    15
dtype: int64

In [36]:
s ** 2

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [ ]:
# Mathematical operations
np.exp(s)

0      2.718282
1      7.389056
2     20.085537
3     54.598150
4    148.413159
dtype: float64

In [38]:
np.cos(s)

0    0.540302
1   -0.416147
2   -0.989992
3   -0.653644
4    0.283662
dtype: float64

In [39]:
np.log10(s)

0    0.000000
1    0.301030
2    0.477121
3    0.602060
4    0.698970
dtype: float64

In [41]:
# Boolean operations
s == 5

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [42]:
s > 2

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [43]:
np.shares_memory(s, s + 10)

False

In [48]:
series1 = pd.Series([1, 2, 3, 4], index=["h", "a", "b", "c"])
series2 = pd.Series([10, 20, 30], index=["c", "b", "h"])

In [49]:
series1

h    1
a    2
b    3
c    4
dtype: int64

In [50]:
series2

c    10
b    20
h    30
dtype: int64

In [51]:
series1 + series2

a     NaN
b    23.0
c    14.0
h    31.0
dtype: float64

### Common Series Methods

In [52]:
data = np.random.randint(1, 10, size=100)
s = pd.Series(data)

In [53]:
s

0     4
1     3
2     2
3     6
4     3
     ..
95    3
96    6
97    8
98    8
99    4
Length: 100, dtype: int64

In [54]:
s.head()

0    4
1    3
2    2
3    6
4    3
dtype: int64

In [55]:
s.head(10)

0    4
1    3
2    2
3    6
4    3
5    3
6    4
7    2
8    7
9    7
dtype: int64

In [56]:
s.tail()

95    3
96    6
97    8
98    8
99    4
dtype: int64

In [57]:
s.tail(6)

94    5
95    3
96    6
97    8
98    8
99    4
dtype: int64

In [58]:
s.unique()

array([4, 3, 2, 6, 7, 9, 5, 1, 8])

In [59]:
8 in s.head(50)

True

In [60]:
s.value_counts()

3    18
6    17
7    14
5    13
2     9
9     9
8     8
4     6
1     6
Name: count, dtype: int64

In [64]:
s.value_counts(ascending=True)

4     6
1     6
8     8
9     9
2     9
5    13
7    14
6    17
3    18
Name: count, dtype: int64

In [65]:
data = [5, 2, 8, 4, -20, 1]
s = pd.Series(data)

s.sort_values()

4   -20
5     1
1     2
3     4
0     5
2     8
dtype: int64

In [66]:
s.sort_values(ascending=False)

2     8
0     5
3     4
1     2
5     1
4   -20
dtype: int64

In [67]:
data = [4, 8, 10, 1, 9, 5]
index = ["b", "e", "c", "f", "a", "z"]
s = pd.Series(data, index=index)
s

b     4
e     8
c    10
f     1
a     9
z     5
dtype: int64

In [68]:
s.sort_index()

a     9
b     4
c    10
e     8
f     1
z     5
dtype: int64

In [69]:
s.sort_index(ascending=False)

z     5
f     1
e     8
c    10
b     4
a     9
dtype: int64

### Converting Series Data Types

In [70]:
# Explicit conversion
s = pd.Series(["1", "2", "3", "4"])
s

0    1
1    2
2    3
3    4
dtype: object

In [71]:
s.dtype

dtype('O')

In [73]:
s_int = s.astype("i4")
s_int

0    1
1    2
2    3
3    4
dtype: int32

In [74]:
s_float = s.astype(float)
s_float

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [75]:
s_float.dtype

dtype('float64')

In [76]:
type(s_float)

pandas.core.series.Series

In [79]:
s_mixed = pd.Series([1, 2.75, 3.19, 4.56, 5, 6])
s_mixed

0    1.00
1    2.75
2    3.19
3    4.56
4    5.00
5    6.00
dtype: float64

In [80]:
s_mixed.astype(int)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [81]:
s_mixed.astype(float)

0    1.00
1    2.75
2    3.19
3    4.56
4    5.00
5    6.00
dtype: float64

### Pandas Datetime

In [82]:
dates = pd.Series(["2025-01-01", "2025-03-9", "2025-05-25"])
dates

0    2025-01-01
1     2025-03-9
2    2025-05-25
dtype: object

In [84]:
dates = pd.to_datetime(dates)
dates

0   2025-01-01
1   2025-03-09
2   2025-05-25
dtype: datetime64[ns]

In [85]:
dates.dtype

dtype('<M8[ns]')

In [86]:
mixed_dates = pd.Series(["2025-07-17", "16/11/2024", "March 21, 2025"])
mixed_dates

0        2025-07-17
1        16/11/2024
2    March 21, 2025
dtype: object

In [87]:
mixed_dates = pd.to_datetime(mixed_dates, format="mixed")
mixed_dates

0   2025-07-17
1   2024-11-16
2   2025-03-21
dtype: datetime64[ns]

### Categorical Data

In [88]:
colors = pd.Series(["red", "blue", "green", "purple", "yellow", "white", "red", "red"])
colors

0       red
1      blue
2     green
3    purple
4    yellow
5     white
6       red
7       red
dtype: object

In [89]:
# convert to categorical
colors_category = colors.astype("category")
colors_category

0       red
1      blue
2     green
3    purple
4    yellow
5     white
6       red
7       red
dtype: category
Categories (6, object): ['blue', 'green', 'purple', 'red', 'white', 'yellow']

In [90]:
colors_category.dtype

CategoricalDtype(categories=['blue', 'green', 'purple', 'red', 'white', 'yellow'], ordered=False, categories_dtype=object)

In [91]:
colors_category.cat.categories

Index(['blue', 'green', 'purple', 'red', 'white', 'yellow'], dtype='object')

In [92]:
colors_category.cat.ordered

False

### Error Handling in Conversion

In [93]:
s_with_error = pd.Series(["1", "2", "Three", "4.5", "5"])
s_with_error

0        1
1        2
2    Three
3      4.5
4        5
dtype: object

In [95]:
s_with_error.astype(int, errors="ignore")

0        1
1        2
2    Three
3      4.5
4        5
dtype: object